.new-recipe__card {
  background-color: var(--color-pink-light-60);
  width: 75%;
  margin: auto;
  text-align: center;
  margin-top: 2.4rem;
  padding: 1.4rem 0;
  border-radius: var(--border-radius-normal);
}

.new-recipe__btn {
  background-color: var(--color-pink-light-20);
  padding: 1.4rem 2.4rem;
  border: 2px solid var(--color-pink);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.new-recipe__btn:hover, .new-recipe__btn:active {
  background-color: var(--color-pink);
}