.recipeCard {
  width: 90%;
  margin: auto;
  box-shadow: var(--box-shadow-secondary);
  cursor: pointer;
  border-radius: var(--border-radius-normal);
  box-shadow: var(--box-shadow-primary)
}

.recipeCard header {
  font-size: 1.8rem;
  font-weight: 500;
  padding: 0.8rem 0;
  margin-bottom: 0;
}

.recipeCard main {
  margin-bottom: 0;
}

img {
  width: 100%;
  border-bottom-left-radius: var(--border-radius-normal);
  border-bottom-right-radius: var(--border-radius-normal);
}

@media(max-width:87em) {
  .recipeCard {
    width: 80%
  }

  .recipeCard header {
    font-size: 1.4rem;
    font-weight: 600;
  }
}