.recipeCard {
  width: 90%;
  margin: auto;
  cursor: pointer;
  border-radius: var(--border-radius-normal);
  box-shadow: var(--box-shadow-secondary);
}

.recipeItemHeader {
  font-size: 1.8rem;
  font-weight: 500;
  padding: 0.8rem 0;
  margin-bottom: 0;
  text-align: center;
  border-top-left-radius: var(--border-radius-normal);
  border-top-right-radius: var(--border-radius-normal);

}

.recipeItemImage {
  display: block;
  margin: auto;
  max-width: 100%;
  object-fit: cover;
  border-bottom-left-radius: var(--border-radius-normal);
  border-bottom-right-radius: var(--border-radius-normal);
}

/* =========== media queries =========== */

@media(max-width:87em) {

  .recipeItemHeader {
    font-size: 1.4rem;
    font-weight: 600;
  }
}

@media(max-width:57em) {
  .recipeItemHeader {
    font-size: 1.2rem;
  }
}

@media(max-width:35em) {
  .recipeItemHeader {
    font-size: 1rem;
  }
}