.newRecipeCard {
  background-color: var(--color-pink-light-60);
  width: 75%;
  margin: auto;
  text-align: center;
  margin-top: 2.4rem;
  padding: 1.4rem 0;
  border-radius: var(--border-radius-normal);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newRecipeBtn {
  background-color: var(--color-pink-light-20);
  padding: 1.4rem 2.4rem;
  border: 2px solid var(--color-pink);
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.btnLabel {
  font-weight: 600;
}

.newRecipeBtn:hover, .newRecipeBtn:active {
  background-color: var(--color-pink);
}

.icon {
  font-size: 1.4rem;
}


/* ============== media queries ===================== */

@media(min-width:112em) {
  .newRecipeCard {
    max-width: 134rem
  }
}

@media(max-width:87em) {
  .newRecipeCard {
    width: 70%
  }
}

@media(max-width:57em) {
  .newRecipeCard {
    width: 85%
  }

  .newRecipeBtn {
    font-size: 1.4rem;
  }
}

@media(max-width:25em) {
  .newRecipeBtn {
    font-size: 1.2rem;
  }
}