form {
  width: 70%;
  margin: auto;
  margin-top: 2rem;
  font-size: 1.8rem;
  color: var(--color-grey-w-70)
}

.inputFields {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  row-gap: 1rem;
}

.inputField {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 0.4rem
}

.inputFieldUrl, .inputFieldIngredients, .inputFieldInstructions {
  grid-column: 1 / 3
}

.inputField input, .inputField select, .inputField textarea {
  font: inherit;
  border: none;
  border-radius: var(--border-radius-small);
  padding: 1rem;
  color: inherit;
  background-color: var(--color-white-light-60);
}

.inputField textarea {
  resize: none;
}

.inputField textarea::placeholder {
  color: var(--color-grey-w-30)
}

.inputField input:focus, .inputField select:focus, .inputField textarea:focus {
  outline: none;
  background-color: var(--color-pink-light-20);
}

.actions {
  display: flex;
  justify-content: space-between;
}

button {
  background-color: var(--color-pink-light-20);
  padding: 1.4rem 2.4rem;
  border: 2px solid var(--color-pink);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

button:hover, button:active {
  background-color: var(--color-pink);
}

.error {
  color: #b40e0e;
  font-size: 1.2rem;
}

.invalid input, .invalid textarea, .invalid select {
  border: 1px solid #b40e0e
}


/* ============== media queries ===================== */

@media(max-width:57em) {
  form {
    width: 80%
  }

  form, button {
    font-size: 1.4rem;
  }

  select option {
    font-size: 1.2rem;
  }

  .inputFields {
    grid-template-columns: 1fr;
    column-gap: 0;
    row-gap: 1rem;
  }

  .inputField label {
    align-self: center;
  }

  .inputFieldUrl, .inputFieldIngredients, .inputFieldInstructions {
    grid-column: 1 / 1
  }
}

@media(max-width:25em) {
  form, button {
    font-size: 1.2rem;
  }

  select option {
    font-size: 1rem;
  }

  button {
    padding: 1rem
  }

}